.card {
    width: 90%;
    margin: 1% 0 0 3%;
    background-color: rgb(235, 235, 235);
}

img {
    width: 65%;
    height: 18rem; 
    margin-left: 12%;
    min-height: 15rem;
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
}