<mat-card class="card">
    <mat-card-header>
      <mat-card-title>FAZ TUDO.com</mat-card-title>
      <mat-card-subtitle>Bem Vindo!!!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/faztudo2.jpg" alt="Foto de Faz Tudo">
    <mat-card-content>
      <p>
        Seja bem vindo, o FAZ TUDO.com vai enviar um profissional qualificado em sua residência para realizar qualquer manutenção com qualidade e agilidade que sua casa necessita.
      </p>
    </mat-card-content>
  </mat-card>