<div class="container">
    
    <form class="form  mat-elevation-z8">
        <h1> Faz Tudo.com </h1>

        <img mat-card-image src="assets/img/faztudo3.jpg" alt="Foto de Faz Tudo">
         
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Ex. exemplo@gmail.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" placeholder="Ex. 123">
        </mat-form-field>
        
        <button class="button mat-elevation-z8" mat-stroked-button color="primary">Primary</button>
        
    </form>
</div>
